<div class="container-fluid">
    <div class="row mb-5">
        <nav class="d-flex mb-5 mt-6 flex-column">
            <a class="link2 mb-3 linked" target="_blank" href="https://www.facebook.com/CREATIONTOILE">Facebook</a>
            <a class="link2 mb-3 linked" target="_blank" href="https://www.instagram.com/lhannz_/">Instagram</a>
            <a class="link2 mb-3 linked" target="_blank" href="https://www.tiktok.com/@lhannz_">TikTok</a>
            <a class="link2 w-25 mb-3 linked" href="{{ path('mentions_legales') }}">Mentions Légales</a>
        </nav>
    </div>
</div>
