{% extends 'base.html.twig' %}

{% block title %}Réinitialisation{% endblock %}
{% block header %}Réinitialisation{% endblock %}

{% block body %}
    <p class="text-center mt-6 text-light">
        Si un compte correspondant à votre adresse e-mail existe, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p class="text-center text-light">Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a class="link" href="{{ path('app_forgot_password_request') }}">essayer à nouveau</a>.</p>
{% endblock %}
