<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
  <p><span style="font-weight: bold;">Le Monde de Lud'Opus vient de vous contacter!</p>
</div>
<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
  <p>Objet: <span style="font-weight: bold;">{{ contact_user_form_object }}</span></p>
</div>
<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
  <p>Message: <span style="font-weight: bold;">{{ contact_user_form_message }}</span></p>
</div>
<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
  <p>Pour le recontacter, voici son adresse e-mail: <span style="font-weight: bold;">{{ contact_user_form_email }}</span>.</p>
</div>