<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
  <p><span style="font-weight: bold;">Votre réservation numéro {{ reservation_id }} d'un montant {% if reservation_price == 'Non renseigné' %}non renseigné{% else %}de {{ reservation_price }}€{% endif %} chez Le Monde de Lud'Opus a été déclinée!</p>
</div>
<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
   <p>Voici la raison de ce refus: <span style="font-weight: bold;">{{ decline_reserve_form_reason }}</span></p>
</div>
<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
  <p>Pour plus d'infos, vous pouvez nous contacter depuis ce mail: <span style="font-weight: bold;">{{ decline_reserve_form_email }} ou appeler le 07 82 02 21 94.</span></p>
</div>
<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
  <p>Merci pour votre confiance! <span style="font-weight: bold;">Le Monde de Lud'Opus</span>.</p>
</div>