<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
  <p><span style="font-weight: bold;">Bienvenue sur Le Monde de Lud'Opus! Votre compte a bien été créé!</p>
</div>
<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
   <p>Votre prénom: <span style="font-weight: bold;">{{ user_firstname }}</span></p>
</div>
<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
  <p>Votre nom: <span style="font-weight: bold;">{{ user_lastname }}</span></p>
</div>
<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
  <p>Votre adresse e-mail: <span style="font-weight: bold;">{{ user_email }}</span></p>
</div>