<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
  <p><span style="font-weight: bold;">Un compte vient d'être créé sur Le Monde de Lud'Opus!</p>
</div>
<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
   <p>Prénom de l'utilisateur: <span style="font-weight: bold;">{{ user_firstname }}</span></p>
</div>
<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
  <p>Nom de l'utilisateur: <span style="font-weight: bold;">{{ user_lastname }}</span></p>
</div>
<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
  <p>Adresse e-mail de l'utilisateur: <span style="font-weight: bold;">{{ user_email }}</span></p>
</div>