<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
  <p><span style="font-weight: bold;">Un article vient d'être commandé!</p>
</div>
<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
   <p>Qui a réservé l'article: <span style="font-weight: bold;">{{ user_firstname }} {{ user_lastname }}</span></p>
</div>
<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
  <p>Titre de l'article: <span style="font-weight: bold;">{{ commande_title }}</span></p>
</div>
<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
  <p>Recontactez-le avec ce mail: <span style="font-weight: bold;">{{ user_email }}</span></p>
</div>